<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppIdentifierPrefix</key>
	<string>ZL6BUSYGB3.</string>
	<key>com.apple.developer.associated-domains</key>
	<array/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.apple.NewsCustomScheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>applenews</string>
				<string>applenewss</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSIsAppleDefaultForScheme</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>App Store URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>itms-apps</string>
				<string>itms-appss</string>
				<string>macappstore</string>
				<string>macappstores</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSIsAppleDefaultForScheme</key>
			<true/>
		</dict>
	</array>
	<key>CFBundleShortVersionString</key>
	<string>$(STOPTHENEWS_SHORT_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(STOPTHENEWS_VERSION)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2019 Jeff Johnson. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsSuddenTermination</key>
	<true/>
</dict>
</plist>
